.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.Heading{
    color: #1abc9c;
}

.containers{
    min-height: 400px;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: relative;
	text-align: center;
    padding:  20px;
	bottom: 0;
	width: 100%;
	background-color: #1abc9c;
}

.footer p {
font-size: 2rem !important;
  color: #fff;
}
